.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 20px;
  background-color: #000;
}

.header__wrapper-logo {
  margin-left: 50px;
}

.logo {
  width: 65px;
  height: 65px;
}

.nav__wrapper-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav__wrapper {
  margin-right: auto;
  margin-left: 35px;
}

.nav__wrapper-list {
  list-style: none;
  font-size: 20px;
}

.nav__wrapper-link {
  text-decoration: none;
  color: #fff;
}

.nav__wrapper-link:hover {
  color: #a88b65;
}

.header__wrapper-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.MuiButton-root > a {
  text-decoration: none;
  color: #9dd2ff;
}

.header__wrapper-buttons {
  display: flex;
  gap: 10px;
}
