.signUpWrapper {
  padding: 40px;
  border: 1px solid gray;
  width: 450px;
  margin: 115px auto;
  border-radius: 15px;
}

.MuiOutlinedInput-root > input {
  width: 415px;
}

.MuiFormControl-root {
  width: 442px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.signUp-title {
  color: #b8b8b8;
}

.account {
  margin: 20px 0 4px 220px;
  color: #b8b8b8;
}

.LogInLink {
  text-decoration: none;
  color: #9dd2ff;
  margin-left: 5px;
}

.signUpButton {
  width: 150px;
}
